$main-color: #eee;
$side-size: 100px;
$main-font: Arial, sans-serif;
$border-gap: 1px;
$hover-bg: pink;

body {
    display: flex;
    justify-content: center;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, $side-size);
    grid-auto-rows: $side-size;
    grid-gap: $border-gap;
    font-family: $main-font;
    font-size: 30px;
    margin: auto;

    div:nth-child(n) {
        box-sizing: border-box;
        border: $border-gap solid black;
        background: $main-color;
        transition: all 0.5s;
    }

    div:first-child {
        grid-column-start: 2;
    }

    div:nth-child(n):hover {
        background: $hover-bg;
        transform: translateY(-20px);
        cursor: pointer;
    }

    @for $i from 1 through 31 {
        div:nth-child(#{$i})::before {
            content: "#{$i}";
            display: block;
            text-align: center;
            line-height: $side-size;
        }
    }
}

.calendar-28 {
    @for $i from 1 through 28 {
        div:nth-child(#{$i})::before {
            content: "#{$i}";
            display: block;
            text-align: center;
            line-height: $side-size;
        }
        div:nth-child(29),
        div:nth-child(30),
        div:nth-child(31) {
            display: none;
        }
    }
}

.calendar-29 {
    @for $i from 1 through 29 {
        div:nth-child(#{$i})::before {
            content: "#{$i}";
            display: block;
            text-align: center;
            line-height: $side-size;
        }
        div:nth-child(30),
        div:nth-child(31) {
            display: none;
        }
    }
}

.calendar-30 {
    @for $i from 1 through 30 {
        div:nth-child(#{$i})::before {
            content: "#{$i}";
            display: block;
            text-align: center;
            line-height: $side-size;
        }
        div:nth-child(31) {
            display: none;
        }
    }
}

.calendar-mon {
    div:first-child {
        grid-column-start: 1;
    }
}

.calendar-wed {
    div:first-child {
        grid-column-start: 3;
    }
}

.calendar-thu {
    div:first-child {
        grid-column-start: 4;
    }
}

.calendar-fri {
    div:first-child {
        grid-column-start: 5;
    }
}

.calendar-sat {
    div:first-child {
        grid-column-start: 6;
    }
}

.calendar-sun {
    div:first-child {
        grid-column-start: 7;
    }
}