$main-color: #eee;
$side-size: 100px;
$main-font: Arial, sans-serif;
$border-gap: 1px;
$week: ("mon": 1,
        "tue": 2,
        "wed": 3,
        "thu": 4,
        "fri": 5,
        "sat": 6,
        "sun": 7);
$hover-bg: pink;

body {
  display: flex;
  justify-content: center;
}

.calendar {
      display: grid;
      grid-template-columns: repeat(7, $side-size);
      grid-auto-rows: $side-size;
      grid-gap: $border-gap;
      font-family: $main-font;
      font-size: 30px;

    div:nth-child(n) {
        box-sizing: border-box;
        border: $border-gap solid black;
        background: $main-color;
        transition: all 0.5s;
    }

    div:nth-child(n):hover {
        background: $hover-bg;
        transform: translateY(-20px);
        cursor: pointer;
    }

    @for $i from 1 through 31 {
        div:nth-child(#{$i})::before {
            content: "#{$i}";
            display: block;
            text-align: center;
            line-height: $side-size;
        }
    }

    @each $day, $day-number in $week {
      &-#{$day} :first-child {
        grid-column-start: $day-number;
      }
    }

    @for $i from 28 through 31 {
      &-#{$i} :nth-child(n+#{$i+1}) {
        display: none;
      }
    }
}